section {
      &.content {
        margin: 75px 15px 0 276px;
        min-height: calc(100vh - 76px);
      }
    }
 
.container-fluid
{
   display: block;
}   

.block-header {
      padding-bottom: 0px;
  
      h2 {
        color: #96a2b4 !important;
      }
    }

.row {
      margin-bottom: 0px !important;
    }

    .breadcrumb {
      background-color: transparent;
      font-size: 15px;
      margin-bottom: 0px;
      padding: 0.75rem 0rem;
      color: #555;
    
      &:before {
        content: "";
        margin: 0;
      }
    
      li {
        display: inline-block;
        a {
          color: #444;
          text-decoration: none;
    
          .fa-home {
            font-size: 17px;
            position: relative;
            top: 0;
            float: left;
            padding-left: 10px;
            color: #444444;
          }
        }
    
        .material-icons {
          font-size: 18px;
          position: relative;
          top: 4px;
          float: none;
        }
        &.active {
          color: #444444;
        }
      }
    
      > li + li:before {
        content: "/" !important;
        color: #444444;
        padding-left: 5px;
      }
      .page-title {
        border-right: 1px solid #c5c5c5;
        padding-right: 10px;
        font-size: 23px;
        font-weight: 500;
        color: #444444;
      }
      .breadcrumb-item + .breadcrumb-item {
        padding-top: 3px;
        padding-left: 0px;
        &::before {
          float: unset;
          padding-right: 5px;
        }
      }
    }    
    
    .breadcrumb-style {
      border-radius: 30px;
      /*background: #ffffff;
        padding-left: 20px !important;*/
    }

    .card {
      background: #fff;
      min-height: 50px;
      position: relative;
      margin-bottom: 24px;
      border: 1px solid #f2f4f9;
      border-radius: 10px;
      box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
      -webkit-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
    
      .card-inside-title {
        margin-top: 25px;
        margin-bottom: 15px;
        display: block;
        font-size: 15px;
        color: #000;
    
        small {
          color: #999;
          display: block;
          font-size: 11px;
          margin-top: 5px;
    
          a {
            color: #777;
            font-weight: bold;
          }
        }
      }
    
      .card-inside-title:first-child {
        margin-top: 0;
      }
    
      .bg-red,
      .bg-pink,
      .bg-purple,
      .bg-indigo,
      .bg-blue,
      .bg-cyan,
      .bg-teal,
      .bg-green,
      .bg-yellow,
      .bg-orange,
      .bg-deep-orange,
      .bg-brown,
      .bg-grey,
      .bg-black {
        border-bottom: none !important;
        color: #fff !important;
    
        h2,
        small,
        .material-icons {
          color: #fff !important;
        }
    
        .badge {
          background-color: #fff;
          color: #555;
        }
      }
    
      .header {
        position: relative;
        display: flex;
        width: 100%;
        color: #555;
        padding: 10px 15px;
        line-height: 30px;
    
        .header-dropdown {
          position: absolute;
          top: 10px;
          right: 10px;
          list-style: none;
    
          .dropdown-menu {
            li {
              display: block !important;
            }
          }
    
          li {
            display: inline-block;
          }
    
          i {
            font-size: 20px;
            color: #999;
    
            &:hover {
              color: #000;
            }
          }
        }
    
        h2 {
          margin: 0;
          color: #5b626b;
          font-size: 17px;
          line-height: 28px;
          padding-right: 10px;
          font-weight: 500;
    
          small {
            display: block;
            font-size: 12px;
            margin-top: 5px;
            color: #999;
            line-height: 15px;
    
            a {
              font-weight: bold;
              color: #777;
            }
          }
        }
    
        .col-xs-12 {
          h2 {
            margin-top: 5px;
          }
        }
      }
    
      .body {
        font-size: 14px;
        color: #555;
        padding: 15px;
    
        @for $i from 1 through 12 {
          .col-xs-#{$i},
          .col-sm-#{$i},
          .col-md-#{$i},
          .col-lg-#{$i} {
            margin-bottom: 20px;
          }
        }
      }
      .list-body {
        padding: 0px 10px;
      }
      &.card-statistic-1 .card-header,
      &.card-statistic-2 .card-header {
        border-color: transparent;
        padding-bottom: 0;
        height: auto;
        min-height: auto;
        display: block;
      }
    
      &.card-statistic-1 .card-icon {
        width: 30px;
        height: 30px;
        margin: 10px 0px 0px 20px;
        border-radius: 3px;
        line-height: 78px;
        text-align: center;
        float: left;
        font-size: 30px;
      }
    
      &.card-statistic-1 .card-header h4,
      &.card-statistic-2 .card-header h4 {
        line-height: 1.2;
        color: color(muted);
      }
    
      &.card-statistic-1 .card-body,
      &.card-statistic-2 .card-body {
        padding-top: 0;
      }
    
      &.card-statistic-1 .card-body,
      &.card-statistic-2 .card-body {
        font-size: 26px;
        font-weight: 700;
        color: color(fontdark);
        padding-bottom: 0;
      }
    
      &.card-statistic-1,
      &.card-statistic-2 {
        display: inline-block;
        width: 100%;
      }
    
      &.card-statistic-1 .card-icon,
      &.card-statistic-2 .card-icon {
        width: 80px;
        height: 80px;
        margin: 10px;
        border-radius: 3px;
        line-height: 94px;
        text-align: center;
        float: left;
        border-radius: 50px;
        margin-right: 15px;
    
        .ion,
        .fas,
        .far,
        .fab,
        .fal {
          font-size: 22px;
          color: #fff;
        }
      }
    
      &.card-statistic-1 .card-icon {
        line-height: 90px;
      }
    
      &.card-statistic-2 .card-icon {
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 22px;
        margin: 25px;
        box-shadow: 5px 3px 10px 0 rgba(21, 15, 15, 0.3);
        border-radius: 10px;
        background: #6777ef;
      }
      &.card-statistic-2 .card-icon-only {
        font-size: 35px;
        margin: 20px;
      }
    
      &.card-statistic-1 .card-header,
      &.card-statistic-2 .card-header {
        padding-bottom: 0;
        padding-top: 25px;
      }
    
      &.card-statistic-2 .card-header + .card-body,
      &.card-statistic-2 .card-body + .card-header {
        padding-top: 0;
      }
    
      &.card-statistic-1 .card-header h4,
      &.card-statistic-2 .card-header h4 {
        font-weight: 600;
        font-size: 13px;
        letter-spacing: 0.5px;
      }
    
      &.card-statistic-1 .card-header h4 {
        margin-bottom: 0;
      }
    
      &.card-statistic-2 .card-header h4 {
        text-transform: none;
        margin-bottom: 0;
      }
    
      &.card-statistic-1 .card-body {
        font-size: 20px;
      }
    
      &.card-statistic-2 {
        .card-chart {
          margin-left: -10px;
          margin-right: -1px;
          margin-bottom: -7px;
    
          canvas {
            height: 70px !important;
          }
        }
        .card-right {
          float: right;
          margin: 15px 15px 15px 0px;
        }
      }
    }

    .materialTableHeader {
      padding: 10px 20px;
      -webkit-box-align: center;
      align-items: center;
      border-color: #e6e9ed;
      background-color: #ebebee;
      height: 70px;
      min-width: 800px;
    
      .header-buttons {
        position: absolute;
        right: 20px;
        padding: 6px 8px 8px 8px;
    
        li {
          display: inline-block;
        }
      }
    
      .header-buttons-left {
        position: absolute;
        list-style: none;
        padding-top: 3px;
    
        li {
          display: inline-block;
        }
    
        .searchbox {
          position: relative;
        }
    
        ::placeholder {
          color: rgba(0, 0, 0, 0.54);
        }
    
        .search-icon {
          position: absolute;
          top: 10px;
          padding-left: 10px;
          color: rgba(0, 0, 0, 0.54);
        }
    
        input.search-field {
          font-weight: 500;
          color: rgba(0, 0, 0, 0.54);
          border-radius: 25px;
          border: 0;
          height: 45px;
          padding: 8px 8px 8px 50px;
          width: 250px;
          background: #ffffff;
    
          &:hover {
            background: #fffefe;
          }
    
          // &:focus {
          //   outline: none;
          //   width: 380px;
          //   color: #212121;
          //   &:hover {
          //     background: #f7f7f7;
          //   }
          // }
        }
      }
    
      h2 {
        margin: 0;
        font-size: 16px;
        font-weight: normal;
        color: #5b626b;
      }
    }    

    .icon-button-demo {
      button {
        margin-right: 5px;
        margin-bottom: 12px;
      }
    }


    .btn-tbl-edit {
      background-color: #96a2b4;
      height: 30px !important;
      width: 30px !important;
      margin: 2px !important;
      line-height: 30px !important;
      color: #fff;
    
      // box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2) !important;
      .material-icons {
        font-size: 16px !important;
      }
    
      &:hover {
        background-color: #888;
        color: #e6e9ed;
      }
    
      &:focus {
        background-color: #888;
      }
    }
    
    .btn-tbl-delete {
      background-color: #ff944f;
      height: 30px !important;
      width: 30px !important;
      margin: 2px !important;
      line-height: 30px !important;
      color: #fff;
    
      // box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2) !important;
      .material-icons {
        font-size: 16px !important;
      }
    
      &:hover {
        background-color: #ff9600;
        color: #e6e9ed;
      }
    
      &:focus {
        background-color: #ff9600;
      }
    }
    