<section class="content">
      <div class="container-fluid">
        <div class="block-header">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <ul class="breadcrumb breadcrumb-style ">
                <li class="breadcrumb-item">
                  <h4 class="page-title">Patient Profile</h4>
                </li>
                <li class="breadcrumb-item bcrumb-1">
                  <a routerLink="/admin/dashboard/main">
                    <i class="fas fa-home"></i> Home</a>
                </li>
                <li class="breadcrumb-item bcrumb-2">
                  <a href="#" onClick="return false;">Patient</a>
                </li>
                <li class="breadcrumb-item active">Profile</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Your content goes here  -->
        <div class="row clearfix">
          <div class="col-lg-12 col-md-12">
            <div class="card">
              <div class="m-b-20">
                <div class="contact-grid">
                  <div class="profile-header bg-dark">
                    <ng-container *ngIf="this.patient">
                    <div class="user-name" style="padding-top: 2.4rem;">{{this.patient.firstName}} {{this.patient.lastName}}</div>
                   </ng-container>
                    <div class="name-center">Patient</div>
                    <p style="margin-top: 1.4rem;">
                      <b>{{this.patient.gender}} - <i>{{this.patient.dob | date}}</i></b>
                    </p>
                  </div>
                  <button mat-flat-button color="primary" (click)="visitPatient()">
                    Visit
                    <mat-icon>arrow_forward_ios</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h4><b><i style="padding: 14px;text-align: center;">Visit History</i></b></h4>

        <div class="row" *ngIf="this.visit">
          <div class="col-3">
            <h4><b>Date</b></h4>
            {{this.visit.date | date}}
          </div>
          <div class="col-3">
            <h4><b>Height</b></h4>
            {{this.visit.height}}
          </div>
          <div class="col-3">
            <h4><b>Weight</b></h4>
           {{this.visit.weight}}
          </div>
          <div class="col-3">
            <h4><b>BMI</b></h4>
            {{this.visit.bmi}}
          </div>
        </div>

      </div>
    </section>
    